:root{
    --bs-primary:#c96442;
    --bs-primary-rgba:201, 100, 66;
    --bs-secondary:#faf9f5;
    --bs-secondary-rgba:250, 249, 245;
    --bs-title-font:'Inter';
    --bs-description-font: 'Crimson Pro';
}
body{
    background-color: var(--bs-secondary);
}
/* .row{
    justify-content: center;
    text-align: center;
} */
.row>* {
    padding: 0px;
}
.ul,li, a{
    text-decoration: none;
    list-style: none;
}
.py-100{
    padding: 150px 0;
}
.navbar{
    font-family: var(--bs-title-font);
    background-color: var(--bs-secondary);
}
.logo-img a {
    color: #3D3929;
    font-weight: 600;
    font-family: var(--bs-title-font);
}
.logo-img a img{
    width: 23px;
    height: 27px;
}
.sign-in a i{
    color: black;
}
.navbar-nav .nav-item a{
    color: #3D3929;
    font-size: 14px;
    font-weight: 500;
}
.hero-page{
    background-image: url('../IMAGES/backgoud-img/background-img.webp');
    position: relative;
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-page::before{
    position: absolute;
    content: "";
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg,rgba(255,255,255,0)0%,rgba(255,255,255,0.3)60%,
    rgba(255,255,255,0.3)80%,rgba(255,255,255,1)100%,);
    z-index: -1;
}
.title{
    text-align: center;
}
.title h1{
    font-family: var(--bs-title-font);
    font-size: 60px;
}
.title p{
    font-family: var(--bs-description-font);
    font-size: 20px;
}
.btn-2{
    background-color: var(--bs-primary);
    font-size: 14px;
    font-family: var(--bs-description-font);
    width: 200px;
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px;
}
.btn-3{
    background-color: white;
    font-size: 14px;
    font-family: var(--bs-description-font);
    width: 200px;
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px;
}
.title-2 h2{
    color: #3D3929;
    font-family: var(--bs-description-font);
    font-size: 36px;
    font-weight: 700;
}
.title-2 p{
    color: #3D3929B2;
    font-family: var(--bs-description-font);
    font-size: 20px;
}
.accordion-item{
    border-color: #d9d8d2;
}
.accordion{
    width: 845px;
}
.accordion-item h2 button{
    font-size: 18px;
    color: #3D3929;
    font-weight: 600;
    font-family: var(--bs-title-font);
    padding: 24px;
}
.accordion-body{
    font-size: 16px;
    color: #3D3929E6;
    font-family: var(--bs-description-font);
    padding: 16px 24px 24px;
    text-align: left;
}
.form-left-sec{
    padding: 48px;
}
.form-title h2{
    color: #3D3929;
    font-size: 30px;
    font-family: var(--bs-description-font);
    /* text-align: start; */
    margin: 0px 0px 18px;
}
.form-title p{
    color: #83827D;
    font-size: 18px;
    font-family: var(--bs-description-font);
    /* text-align: start; */
    margin: 0px 0px 32px;
}
/* .form-title{
    text-align: left;
} */
.footer-topbar{
    font-family: var(--bs-description-font);
}
.footer-title img{
    width: 23px;
    height: 27px;
}
.footer-title h4{
    font-size: 20px;
    font-weight: 700;
}
.footer-main-title-sec p{
    font-size: 14px;
    color: #83827D;
    text-align: start;
    margin: 16px 0px 0px;
}
.footer-web-icon i{
    color: #83827D;
    margin: 16px 0px 0px;
}
.form-link-sec{
    text-align: start;
}
.form-link-sec h3{
   font-size: 14px;
   color: #3D3929;
}
.form-link-sec ul li a{
   font-size: 14px;
   color: #83827D;
   text-align: start;
   margin: 8px 0px 0px;
}
.form-link-sec ul{
    padding: 0px;
}
.footer-leftside-title p{
    font-size: 14px;
    color: #83827D;
    font-family: var(--bs-description-font);
    text-align: left;
}
.footer-leftside-title p a{
    color: var(--bs-primary);
}
.footer-rightside-title a img{
    width: 140px;
    height: 40px;
}
.footer-downbar{
    padding: 32px 0px;
}
.footer-topbar{
    padding: 48px 0px 0px;
    border-top: 1px solid #e5e8ea;
    border-bottom: 1px solid #e5e8ea;
}
.form-rightside-banner{
    background-image: url('../IMAGES/backgoud-img/background-img.webp');
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 20px 20px 0px;
}
.form-rightside-banner::before{
    position: absolute;
    content: "";
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg,rgba(255,255,255,0)0%,rgba(255,255,255,0.3)60%,
    rgba(255,255,255,0.3)80%,rgba(255,255,255,1)100%,);
    z-index: -1;
}
.form-left-sec{
    background-color: white;
    border-radius: 20px 0px 0px 20px;
}
.form-title h2{
    font-weight: 700;
}
.form-title h1{
    font-weight: 700;
    font-family: var(--bs-description-font);
    font-size: 36px;
}
.card-body h5{
    color: var(--bs-primary);
    font-family: var(--bs-description-font);
}
.card-body h6{
    color: #3D3929;
    font-family: var(--bs-description-font);
    font-size: 20px;
    font-weight: 700;
}
.card-body p{
    color: #3D3929CC;
    font-family: var(--bs-description-font);
}
.card-body a{
    font-family: var(--bs-description-font);
}
.chapter-des{
    font-size: 13px;
    font-family: var(--bs-title-font);
}
.chapter-des a, p{
    color: #9C958C;
}
.chapter-des span{
    color: #6B645B;
}